[submodule "atomantic_dotfiles"]
	path = atomantic_dotfiles
	url = https://github.com/atomantic/dotfiles.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "mathiasbynens_dotfiles"]
	path = mathiasbynens_dotfiles
	url = https://github.com/mathiasbynens/dotfiles.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline.git
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = https://github.com/bpinto/oh-my-fish.git
